<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>questionApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3370C2031E02AD2800A4DBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3370C2171E02AD2900A4DBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3370C2221E02AD2900A4DBA4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
